header{
	height: 250px;
	color: black;
	padding-top:120px;
	padding-bottom: 80px;
}

header h1{
	font-size: 50px;
	text-shadow: 3px 3px 2px black;
}
header p{
	font-size: 20px;
	text-shadow: 2px 2px 2px black;
}